# Items to ignore by default
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# env variables
.env

# Items to be created by Development build
android/
index.js
metro.config.js

# macOS
.DS_Store
